

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
p,
ul,
a {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 768px;
  padding-left: 39px;
  padding-right: 39px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.section {
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-bottom: 84px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    margin-bottom: 130px;
  }
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 100px;
  min-width: 320px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .page-header {
    max-width: 480px;
    margin-bottom: 84px;
  }
}

@media (min-width: 1280px) {
  .page-header {
    max-width: 1280px;
    margin-bottom: 130px;
  }
}

.absolute-container {
  position: absolute;
  max-width: 480px;
  top: 40px;
  z-index: 2;
  padding-left: 31px;
  padding-right: 31px;
}

@media (min-width: 768px) {
  .absolute-container {
    max-width: 546px;
    width: 100%;
    left: 463px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .absolute-container {
    max-width: 1015px;
    width: 100%;
    left: 720px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    padding: 0;
  }
}

.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 112px;
}

@media (max-width: 480px) {
  .navigation-container {
    margin-bottom: 15vw;
  }
}

@media (min-width: 768px) {
  .navigation-container {
    margin-bottom: 156px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1280px) {
  .navigation-container {
    margin-bottom: 192px;
  }
}

@media (max-width: 767px) {
  .site-nav,
  .contacts-container {
    display: none;
  }
}

@media (min-width: 1280px) {
  .site-nav,
  .contacts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}



@media (min-width: 1280px) {
  .site-nav__list {
    gap: 40px;}
}

.site-nav__link,
.contacts-link {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #FF6C00;
}

.contacts-button {
  display: block;
  height: 40px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  padding: 12px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #FF6C00;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}

@media (min-width: 1280px) {
  .contacts-button {
    margin-left: 40px;
    margin-bottom: 0px;
  }
}

.contacts-button:hover, .contacts-button:focus {
  background-color: #FF6C00;
}

.company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
}

@media (min-width: 768px) {
  .company-logo {
    display: none;
  }
}

.menu-toggle {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.hero {
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .hero {
    max-width: 500px;
    margin-left: 45px;
  }
}

.hero__subtitle {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #9DA4BD;
}

.hero__subtitle::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 10vw;
  }
}

@media (min-width: 1280px) {
  .hero__title {
    font-size: 72px;
    line-height: 85px;
  }
}

.hero__description {
  font-size: 16px;
  line-height: 26px;
  color: #9DA4BD;
}

@media (min-width: 1280px) {
  .hero__description {
    font-size: 18px;
    line-height: 30px;
  }
}

.sidebar {
  width: 88px;
  margin-right: 29px;
  margin-left: 39px;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

.sidebar__company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 325px;
}

.sidebar__social-list-item:first-child {
  margin-right: 40px;
  position: relative;
}

.sidebar__social-list-item:first-child::before {
  content: '';
  position: absolute;
  top: 8px;
  right: 80px;
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background: #303030;
}

.sidebar__social-link {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #303030;
}

@media (max-width: 767px) {
  .slider {
    max-width: 480px;
  }
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 39px;
  top: 340px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

@media (max-width: 767px) {
  .line-container {
    display: none;
  }
}

@media (min-width: 1280px) {
  .line-container {
    right: 55px;
  }
}

.line {
  width: 8px;
  height: 2px;
  background-color: #9DA4BD;
  cursor: pointer;
}

.line.active {
  width: 18px;
  background-color: #fff;
}

.line:not(:last-child) {
  margin-bottom: 12px;
}

.btn-container {
  position: absolute;
  right: 39px;
  bottom: 40px;
}

@media (max-width: 767px) {
  .btn-container {
    display: none;
  }
}

@media (min-width: 1280px) {
  .btn-container {
    right: 55px;
  }
}

.btn {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.1em;
  padding: 8px 0;
  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  -o-border-image: none;
     border-image: none;
  border: none;
  border-bottom: 1px solid;
  cursor: pointer;
}

.btn:last-child {
  margin-left: 26px;
  color: white;
}

.btn:hover, .btn:focus {
  color: #FF6C00;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  overflow-y: scroll;
}

.menu-container .menu-toggle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-site-nav {
  margin-bottom: 64px;
}

.mobile-site-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-site-nav__link {
  display: block;
  font-weight: 600;
  color: #303030;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-site-nav__link:hover, .mobile-site-nav__link:focus {
  color: #FF6C00;
}

.mobile-site-nav__link--current {
  color: #FF6C00;
}

.mobile-contacts-list {
  margin-bottom: 24px;
}

.button {
  display: block;
  height: 40px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  padding: 12px 20px;
  text-transform: uppercase;
  color: #303030;
  background-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #FF6C00;
  border-radius: 25px;
  cursor: pointer;
}

.button:hover, .button:focus {
  color: #FFF;
  background-color: #FF6C00;
}

.mobile-button {
  margin-bottom: 64px;
}

.mobile-contacts-list__link {
  display: block;
  font-weight: 600;
  color: #303030;
  text-decoration: none;
}

.mobile-social-list {
  position: relative;
  margin-left: 80px;
}

.mobile-social-list::before {
  content: '';
  position: absolute;
  left: -80px;
  top: 16px;
  display: block;
  width: 60px;
  height: 1px;
  background: #303030;
}

.mobile-social-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-social-list__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #303030;
}

@media (min-width: 768px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .container-info {
    width: 330px;
  }
}

@media (min-width: 1280px) {
  .container-info {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .image-list {
    display: none;
  }
}

@media (min-width: 1280px) {
  .image-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.image-list__item:first-child {
  margin-bottom: 39px;
}

@media (min-width: 1280px) {
  .image-list__item:first-child {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.about-us__subtitle {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.about-us__subtitle::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 60px;
  height: 1px;
  background: #303030;
}

.about-us__title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #303030;
}

@media (min-width: 1280px) {
  .about-us__title {
    font-size: 42px;
    line-height: 50px;
  }
}

.about-us__call-to-action {
  margin-bottom: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (min-width: 1280px) {
  .about-us__call-to-action {
    font-size: 18px;
    line-height: 30px;
  }
}

.about-us__description {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 26px;
}

.price {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #111319;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/mobile/cover-image-480.jpg");
  background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/mobile/cover-image-480.jpg");
  background-size: cover;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-color: #111319;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/mobile/cover-image-480@2x.jpg");
    background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/mobile/cover-image-480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .price {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #111319;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/tablet/cover-image-768.jpg");
    background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/tablet/cover-image-768.jpg");
    background-size: cover;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price {
    background-color: #111319;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/tablet/cover-image-768@2x.jpg");
    background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/tablet/cover-image-768@2x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .price {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #111319;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/desktop/cover-image.jpg");
    background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/desktop/cover-image.jpg");
    background-size: cover;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .price {
    background-color: #111319;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/desktop/cover-image@2x.jpg");
    background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/desktop/cover-image@2x.jpg");
  }
}

.price__call-to-action {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #9DA4BD;
}

.price__call-to-action::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
}

.price__title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.price-list {
  margin-bottom: 50px;
}

@media screen and (max-width: 1279px) {
  .price-list {
    padding: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1280px) {
  .price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .price-list__item:first-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price-list__item:last-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
  .price-list-one,
  .price-list-two {
    width: 510px;
    padding: 30px 40px;
  }
}

.price-list-one__item,
.price-list-two__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #9DA4BD;
}

.price-list-one__item:not(:last-child),
.price-list-two__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .price-list-one__item,
  .price-list-two__item {
    font-size: 18px;
  }
}

@media screen and (max-width: 1279px) {
  .price-list-one__item:last-child {
    margin-bottom: 20px;
  }
}

.price-button {
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
}

@media (min-width: 1280px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.description-wrapper {
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .description-wrapper {
    width: 500px;
    margin-bottom: 44px;
  }
}

@media (min-width: 1280px) {
  .description-wrapper {
    margin-bottom: 0px;
  }
}

.why-us__subtitle {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.why-us__subtitle::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 60px;
  height: 1px;
  background: #303030;
}

.why-us__title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
}

.achievments-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .achievments-list {
    width: 450px;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .achievments-list {
    margin-left: 0;
  }
}

.achievments-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 2 * 30px)/2);
  height: 130px;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

.achievments-list__item:nth-child(2) {
  margin-top: 45px;
  margin-bottom: 0;
}

.achievments-list__item:nth-child(3) {
  margin-top: 0;
}

.achievments-list__item:nth-child(4) {
  margin-top: 30px;
  margin-bottom: 0;
}

.achievments-list__number {
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.achievments-list__description {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}

sup {
  color: #FF6C00;
}

.masters {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .masters {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .masters {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.masters__subtitle {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.masters__subtitle::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 60px;
  height: 1px;
  background: #303030;
}

.masters__title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
}

@media (max-width: 1279px) {
  .masters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1280px) {
  .masters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .masters-list__item {
    width: calc((100% - 3 * 30px)/3);
    margin: 15px;
  }
}

@media screen and (max-width: 1279px) {
  .masters-list__item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.masters-list__image {
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .masters-list__image {
    height: 336px;
  }
}

.masters-list__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  color: #303030;
}

.masters-list__description {
  margin-bottom: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
  color: #FF6C00;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 12px;
  background-color: white;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  fill: #FF6C00;
}

.portfolio__subtitle {
  position: relative;
  margin-bottom: 44px;
  padding-left: 80px;
  font-size: 11px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.portfolio__subtitle::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 60px;
  height: 1px;
  background: #303030;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio-list__item {
    width: calc((100% - 4 * 30px)/4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 480px) {
  .portfolio-list__image {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.footer {
  background-image: linear-gradient(to bottom, #191C26 1047px, #ffffff 138px);
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: linear-gradient(to bottom, #191C26 993px, #ffffff 127px);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-image: linear-gradient(to bottom, #191C26 614px, #ffffff 127px);
  }
}

.footer-container {
  padding-top: 44px;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    width: 100%;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .footer-list {
    margin-bottom: 0px;
  }
}

.footer-list::before {
  content: '';
  display: block;
  left: 140px;
  top: 7px;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background: #303030;
}

.footer-list__item:not(:last-child) {
  margin-right: 40px;
}

.footer-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #303030;
}

.copyright {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #9DA4BD;
}

.inquiry-form {
  padding-top: 84px;
  padding-bottom: 84px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .inquiry-form {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .inquiry-form {
    min-width: 655px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.inquiry-form__title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .inquiry-form__title {
    text-align: left;
  }
}

.inquiry-form__list {
  margin-bottom: 44px;
}

.inquiry-form__item:not(:last-child) {
  margin-bottom: 44px;
}



@media screen and (min-width: 1280px) {
  .inquiry-form__item:not(:last-child) {
    display: inline-block;
    width: 257.5px;
  }
}

@media screen and (min-width: 768px) {
  .inquiry-form__item:first-child {
    margin-right: 30px;
  }
}

.inquiry-form__input,
.inquiry-form__textarea {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.inquiry-button {
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
}

@media screen and (min-width: 768px) {
  .inquiry-button {
    margin-left: 0;
  }
}

.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/mobile/cover-image-2-480.jpg");
  background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/mobile/cover-image-2-480.jpg");
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-color: #111319;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/mobile/cover-image-2-480@2x.jpg");
    background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/mobile/cover-image-2-480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #111319;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/tablet/cover-image-2-768.jpg");
    background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/tablet/cover-image-2-768.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-color: #111319;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/tablet/cover-image-2-768@2x.jpg");
    background-image: linear-gradient(to top, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/tablet/cover-image-2-768@2x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 625px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.contacts__title {
  margin-bottom: 40px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .contacts__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.adress-list {
  margin-bottom: 44px;
  font-style: normal;
}

.adress-list__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .adress-list {
    margin-bottom: 70px;
  }
}

.adress-list__icon {
  margin-right: 16px;
}

.adress-list__link,
.adress-list__item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contacts__subtitle {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #9DA4BD;
}

.contacts__subtitle::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
}

.contacts__description {
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}


@media screen and (max-width: 768px) {
.contacts .container {
    padding-left: 31px;
  }
}